// @for $i from 1 through 6 {
//   .item-#{$i} {
//     width: 200px * $i;
//   }
// }

$redes: facebook twitter pinterest instagram;
@each $rede in $redes {
  .#{$rede}-icon {
    background-image: url("../images/#{$rede}.png");
  }
}

$i: 1;
@while $i <= 6 {
  .type-#{$i} {
    font-size: 16 * $i + px;
  }
  $i: $i + 1;
}

@for $i from 1 through 16 {
  $width: $i / 16 * 100 + "%";
  .porcento-#{$i} {
    width: $width;
  }
}

$container: 1200;
$colunas: 12;
$gutter: 20;

@for $i from 1 through $colunas {
  $width: $container / $colunas * $i - $gutter;
  .grid-#{$i} {
    width: $width + px;
  }
}
