footer {
  padding: 20px 0;
  background: $cinza;
  @include box-shadow(0 0 0 10px $cinza);
  p {
    color: $bege-claro;
    display: inline-block;
    @include d(s) {
      text-align: center;
    }
  }
  a {
    display: inline-block;
    float: right;
    @include d(s) {
      display: block;
      float: none;
    }
    img {
      float: right;
      @include d(s) {
        float: none;
        margin: 20px auto;
      }
    }
  }
}
