$tema: oceano;
$primary-color: black;
$secondary-color: gray;
$cor-primaria: rgba(0, 0, 255);
$fonte-primaria: monospace;
$gutter: 20px;

@if $tema == oceano {
  $primary-color: blue;
  $secondary-color: orange;
} @else if $tema == deserto {
  $primary-color: yellow;
  $secondary-color: purple;
}

@mixin type-1($size: normal) {
  font-family: monospace;
  @if $size == normal {
    font-weight: normal;
    font-size: 1em;
  } @else if $size == large {
    font-weight: normal;
    font-size: 1.25em;
  } @else if $size == x-large {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@mixin device($device) {
  @if $device == mobile {
    @media (max-width: 300px) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $device == s {
    @media (max-width: 900px) {
      @content;
    }
  }
}

@function em($pixels, $contexto: 16) {
  @return ($pixels / $contexto) * 1em;
}

@function grid($colunas, $total: 12) {
  @return round($colunas / $total * 100%);
}

div {
  width: grid(3, 6);
  width: 100%;
  @include device(tablet) {
    width: 80%;
  }
  @include device(mobile) {
    width: 60%;
  }
}

div {
  $width: 401px;
  width: $width;
  @if $width > 400px {
    height: $width * 1.5;
  } @else {
    height: $width;
  }
}

p {
  color: $primary-color;
  background: $secondary-color;
  @include type-1(x-large);
}

@mixin title-large {
  font-size: 4em;
  font-weight: bold;
  font-family: monospace;
  line-height: 1;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color: $cor-primaria, $largura: 100px) {
  &::after {
    content: "";
    display: block;
    width: $largura;
    height: 4px;
    background: $color;
  }
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

%clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.erro {
  color: red;
  font-weight: bold;
}

a.erro {
  display: block;
}

.button-erro {
  @extend .erro;
  padding: 20px;
  width: 200px;
}

div {
  @extend %clearfix;
}

section {
  @extend %clearfix;
}

.clearfix {
  @extend %clearfix;
}

div {
  $width: 400px;
  font-size: 10px + 10;
  width: $width - 2 * $gutter;
  padding: $gutter;
  height: $width / 2;
  // background: rgba(51, 51, 51) + rgba(119, 119, 119); Não funciona
}

section.modal {
  max-width: 600px;
  margin: 0 auto;
  @include border-box();
}

.modal {
  @include box-shadow(
    10px 10px 0 0 rgba(0, 0, 0, 0.5),
    15px 15px 0 0 rgba(0, 0, 0, 0.5),
    20px 20px 0 0 rgba(0, 0, 0, 0.5)
  );
  h1 {
    color: $cor-primaria;
    font-family: $fonte-primaria;
    margin-bottom: $gutter;
    @include title-large();
    @include separador();
    @include mobile() {
      color: #84e;
      font-size: 2em;
    }
  }

  p {
    font: {
      size: 1.2em;
      family: $fonte-primaria;
      style: italic;
      // @include mobile() {
      //   size: 0.8em;
      // } Não funciona
    }
    // font-size: 1.2em;
    // font-family: $fonte-primaria;
    @include mobile() {
      font-size: 0.8em;
    }
    line-height: 1.4;
    max-width: 400px;
  }

  a {
    display: block;
    max-width: 120px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background: $cor-primaria;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $fonte-primaria;
  }
}

ul {
  text-align: center;
  li {
    font-size: em(36);
    display: inline-block;
    list-style: none;
    a {
      font-size: em(16, 36);
      display: block;
      padding: 20px;
      text-decoration: none;
      background: $cor-primaria;
      color: white;
      &:hover,
      &.active,
      .active {
        background: transparentize(blue, 0.5);
        // background: darken($cor-primaria, 20%);
        // background: lighten($cor-primaria, 20%);
      }
      &::after,
      &::before {
        content: " ";
      }
      .active & {
        background: blue;
      }
    }
  }
}
